{% extends 'org_base.html' %}
{% load static %}
{% block title %}机构介绍{% endblock %}
{% block page_path %}机构介绍{% endblock %}
{% block right_form %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">

            <p>
            <p>&nbsp; &nbsp;</p>
            <h1 class="ue_t" label="Title center" name="tc"
                style="border-bottom-color:#cccccc;border-bottom-width:2px;border-bottom-style:solid;padding:0px 4px 0px 0px;text-align:center;margin:0px 0px 20px;">
                <span style="color:#c0504d;">{{ course_org.name }}</span></h1>
            <p style="text-align:center;"><strong class="ue_t"></strong></p>
            <h3><span class="ue_t" style="font-family:幼圆"></span></h3>
            <p class="ue_t" style="text-indent:2em;">{{ course_org.desc }}</p>

            <h3><span class="ue_t" style="font-family:幼圆">[标题 2]</span></h3>
            <p class="ue_t" style="text-indent:2em;"></p>
            <h3><span class="ue_t" style="font-family:幼圆"></span></h3>
            <p>2016-12-10</p>
            <p class="ue_t"> </p>
            <p class="ue_t"><br/></p>
            <p><br/></p>
            <p><br/></p></p>

        </div>
    </div>
{% endblock %}

